*{
    background-color: black;
    color: azure;
}
*{
    width: 808px;
    height: 548px;
}

nav{
    width: 808px;
    height: 42px;
    display: flex;
    
}
nav{
    background-color: #D9D9D9;
    color: black;
}
h1{
    text-align: center;
}